rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow read, write: if request.time < timestamp.date(2020, 1, 21);
    // }
    
    // match /{document=**} {
    // 	allow read, write;
    // }
    
    // match logged in user doc in Users collection
    match /Users/{UsersID} {
    	allow create: if request.auth.uid != null;
      allow read: if request.auth.uid == UsersID || request.auth.token.admin == true;
    }
    
    // match logged in user doc in Leave Pass collection
    match /Leave%20Pass/{LeavePassID} {
    	allow create: if request.auth.uid != null;
      allow read, update: if request.auth.uid == LeavePassID || request.auth.token.admin == true;
    }
    
    // match logged in user doc in users collection
    match /users/{userId} {
    	allow create: if request.auth.uid != null;
      allow read: if request.auth.uid == userId || request.auth.token.admin == true;
    }
    
    // match docs in the guides collection
    match /guides/{guideId} {
    	allow read: if request.auth.uid != null;
      allow write: if request.auth.token.admin == true;
    }
  }
}